/*
font-family: 'Delius', cursive;
font-family: 'Love Ya Like A Sister', cursive;
*/

body {
	font-family: 'Delius', cursive;
	background-color: #f4e399;
	color: #3a2b1f;
}

h1, h2, h5 {
	font-family: 'Love Ya Like A Sister', cursive;
}

h1{
	color: #dd8236;
	font-size: 60px;
}

h2 {
	color: #5a300d;
}

.invert { 
	filter: invert(100%);
}

.container {
	max-width: 95%;
}

/*.navbar {
	background-color: #5a300d;
}*/

.content-header{
	text-align: center;
	padding-top: 50px;
}

.card {
	margin-top: 25px;
	background-color: #ffc284;
	border-width: 3px;
}

.card-body {
	margin: 10px;
	padding: 25px;
	background-color: #FFF5C7;
}



/*NAVIGATION BAR*/

.navbar-brand {
	padding-left: 50px;
	padding-top: 50px;
	font-size: 30px;
	font-family: 'Love Ya Like A Sister', cursive;
}

.navbar-default {
    background-color: #5a300d;
    /*border-color: #5a300d;*/
}

.nav-item {
	color: #dd8236;
}

.my-nav-items {
	padding-right: 50px;
}




/*ROTATE?*/

/*https://stackoverflow.com/questions/16771225/css3-rotate-animation*/

.image {
	z-index: 100;
    position: absolute;
    top: 60px;
   /* top: 50%;
    left: 50%;*/
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



/*#f4e399*/
/*.navbar a{
	color: #ffae6a;
}